<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title></title>
</head>
<body>

<!--            Navbar          -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            <strong>
                <td th:text="${CurrentUser}"></td>
            </strong>
            with roles:
            <td th:text="${CurrentRoles}"></td>
        </div>

        <a class="navbar-text" th:href="@{/logout}">Logout</a>

    </div>
</nav>

<p></p>
<!--            Pills          -->
<div class="container-fluid">
    <div class="row">
        <div class="col bg-white">
            <nav class="nav nav-pills flex-column">
                <a th:href="@{/admin/crud_user}" class="nav-link active">Admin</a>
                <a th:href="@{/user/show_my_user}" class="nav-link">User</a>
            </nav>
        </div>

        <!--            tabs new user, user table         -->
        <div class="col-10 bg-light">
            <div><h2>Admin panel</h2></div>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="user-table-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-user-table" type="button" role="tab" aria-controls="nav-user-table"
                            aria-selected="true">User table
                    </button>
                    <button class="nav-link" id="new-user-tab" data-bs-toggle="tab" data-bs-target="#newUser"
                            type="button" role="tab" aria-controls="newUser" aria-selected="false">New User
                    </button>
                </div>
            </nav>
            <!--             user table         -->
            <div class="tab-content">
                <div class="tab-pane fade show active" id="nav-user-table" role="tabpanel"
                     aria-labelledby="user-table-tab">

                    <div class="card">
                        <div class="card-header">
                            <b>All Users</b>
                        </div>
                    </div>

                    <table class="table table-striped" border="1">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Age</th>
                            <th scope="col">Roles</th>
                        </tr>
                        </thead>
                        <tbody id="usersTable">
                        </tbody>
                    </table>
                </div>

                <!--         Delete user            -->
                <div class="deleteForm">
                    <div class="modal fade" id="deleteModal" aria-hidden="true"
                         role="dialog" aria-labelledby="deleteModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete user</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div style="text-align: center;">
                                        <div class="row justify-content-center align-items-center">
                                            <form class="text-center"
                                                  id="deleteFormBody">
                                                <div class="form-group font-weight-bold">
                                                    <div class="form-group m-3">
                                                        <label for="id1"
                                                               class="col-form-label">ID</label>
                                                        <input type="text" class="form-control" id="id1"
                                                               name="id" value=""/>
                                                    </div>
                                                    <div class="form-group m-3">
                                                        <label for="username1" class="col-form-label">Name</label>
                                                        <input type="text" class="form-control" id="username1"
                                                               name="name" value=""/>
                                                    </div>

                                                    <div class="form-group m-3">
                                                        <label for="surname1" class="col-form-label">Surname</label>
                                                        <input type="text" class="form-control" id="surname1"
                                                               name="surname" value=""/>
                                                    </div>

                                                    <div class="form-group m-3">
                                                        <label for="age1" class="col-form-label">Age</label>
                                                        <input type="text" class="form-control" id="age1"
                                                               name="age" value=""/>
                                                    </div>

                                                    <div class="form-group m-3">
                                                        <label for="password1" class="col-form-label">Password</label>
                                                        <input type="password" class="form-control" id="password1"
                                                               name="password" value=""/>
                                                    </div>

                                                    <div class="form-group m-3" readonly="readonly">
                                                        <label for="roles1">Roles</label>
                                                        <select class="form-select w-100" multiple aria-label="multiple select example"
                                                                size="2"
                                                                id="roles1"
                                                                name="checkBoxRoles"
                                                                disabled="true">
                                                            <option value="1">ROLE_USER</option>
                                                            <option value="2">ROLE_ADMIN</option>
                                                        </select>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                        <input type="submit" class="btn btn-danger"
                                                               id="deleteBtnForm"
                                                               value="Delete"/>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--            Edit user           -->
                <div class="editForm">
                <div class="modal fade" id="editModal" aria-hidden="true"
                     role="dialog" aria-labelledby="editModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit user</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div style="text-align: center;">
                                    <div class="row justify-content-center align-items-center">
                                        <form class="text-center" th:method="POST" th:object="${User}"
                                              id="editFormBody">
                                            <div class="form-group font-weight-bold">

                                                <input type="hidden" class="form-control" id="id2"
                                                           name="id" value=""/>

                                                <input type="hidden" class="form-control" id="originalPass"
                                                       name="originalPass" value=""/>

                                                <div class="form-group m-3">
                                                    <label for="username2" class="col-form-label">Name</label>
                                                    <input type="text" class="form-control" id="username2"
                                                           name="name" value=""/>
                                                </div>

                                                <div class="form-group m-3">
                                                    <label for="surname2" class="col-form-label">Surname</label>
                                                    <input type="text" class="form-control" id="surname2"
                                                           name="surname" value=""/>
                                                </div>

                                                <div class="form-group m-3">
                                                    <label for="age2" class="col-form-label">Age</label>
                                                    <input type="text" class="form-control" id="age2"
                                                           name="age" value=""/>
                                                </div>

                                                <div class="form-group m-3">
                                                    <label for="password2" class="col-form-label">Password</label>
                                                    <input type="password" class="form-control" id="password2"
                                                           name="password" value=""/>
                                                </div>

                                                <div class="form-group m-3">
                                                    <label for="roles2">Role</label>
                                                    <select class="form-select w-100" multiple aria-label="multiple select example"
                                                            size="2"
                                                            id="roles2"
                                                            name="checkBoxRoles">
                                                        <option value="1">ROLE_USER</option>
                                                        <option value="2">ROLE_ADMIN</option>
                                                    </select>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <input type="submit" class="btn btn-primary"
                                                           id="editBtnForm"
                                                           value="Edit"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <!--           Add new user             -->
                <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="new-user-tab">
                    <h5 class="card-header">Add new user</h5>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-4">
                            <form class="text-center" th:method="POST" th:action="@{/admin/addOrEdit_user}" th:object="${User}">
                                <div class="form-group font-weight-bold">

                                    <div class="form-group m-3">
                                        <div class="form-group m-3">
                                            <label for="username1" class="col-form-label">Name</label>
                                            <input type="text" class="form-control" id="usernameNew"
                                                   name="name" value=""/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="surnameNew" class="col-form-label">Surname</label>
                                            <input type="text" class="form-control" id="surnameNew"
                                                   name="surname" value=""/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="ageNew" class="col-form-label">Age</label>
                                            <input type="text" class="form-control" id="ageNew"
                                                   name="age" value=""/>
                                        </div>

                                        <div class="form-group m-3">
                                            <label for="passwordNew" class="col-form-label">Password</label>
                                            <input type="password" class="form-control" id="passwordNew"
                                                   name="password" value=""/>
                                        </div>

                                        <div class="form-group m-3" readonly="readonly">
                                            <label for="roles">Role</label>
                                            <select class="form-select w-100" multiple aria-label="multiple select example"
                                                    size="2"
                                                    id="roles"
                                                    name="checkBoxRoles">
                                                <option value="1">ROLE_USER</option>
                                                <option value="2">ROLE_ADMIN</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" id="newBtnForm" class="btn btn-success">Add new user</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/modals.js"></script>


</body>
</html>